@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light: #FFFFFF;
    --color-dark: #020617;
    --primary-color: #6366F1;
    --secondary-color: #F43F5E;

    --font-primary: 'helvetica', sans-serif;
    --font-secondary: 'arial', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
}

@layer components {
    .btn-primary {
        @apply bg-(--secondary-color) flex justify-center items-center text-light rounded-xl py-2 px-3 border-0 cursor-pointer hover:bg-(--primary-color);
    }

    .btn-secondary {
        @apply flex justify-center items-center rounded-xl py-2 px-3 border-2 border-(--secondary-color) cursor-pointer hover:bg-(--secondary-color) hover:text-light;
    }
}

.react {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}